<div id="popup-backdrop" class="hidden"></div>
<main id="assignments-main-box" class="page-box">
    <h2 class="page-title">Assignments</h2>

    <div id="browse-assignment" class="crud-box">
        <h3 class="crud-title">Browse Student Assignments</h3>
        <table class="search-results" border="1" cellpadding="5">
            <thead>
                <tr>
                    {{!-- print each attribute's key of a row object as a header cell  --}}
                    {{#each data.[0]}}
                    <th>{{@key}}</th>
                    {{/each}}
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                {{!-- print attributes for each row of data --}}
                {{#each data}}
                <tr data-value={{this.assignment_id}}>
                    <td>{{this.assignment_id}}</td>
                    <td>{{this.name}}</td>
                    {{#if this.project_title}} <td>{{this.project_title}}</td> {{else}} <td>NULL</td> {{/if}}
                    <td><div class="edit-btn"><center><i class="fa-regular fa-pen-to-square"></i></center></div></td>
                    <td><div class="delete-btn"><center><i class="fa-solid fa-trash"></i></center></div></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <p>&nbsp;</p>

    <div id="add-assignment" class="crud-box">
        <h3 class="crud-title">Add Project to Student</h3>
        <form class="insert-form">
            <fieldset class="fields">
                <label for="email">Student Email</label> 
                <input id="add-assignment-email-input" type="email" name="email">

                <label for="project-title">Project Title</label>
                <select id="add-assignment-project-input" name="project-title">
                    <option value="0">NULL</option>
                    {{#each dropdown}}
                    <option value="{{this.project_id}}">{{this.title}}</option>
                    {{/each}}
                </select>
            </fieldset>
            <div class="buttons">
                <input id="add-assignment-accept" class="accept-btn" type="submit" value="Submit">
                <input id="add-assignment-cancel" class="cancel-btn" type="button" value="Cancel">
            </div>
        </form> 
    </div>

    <p>&nbsp;</p>

    <div id="edit-assignment" class="hidden" class="crud-box">
        <h3 class="crud-title">Edit Student Assignment</h3>
        <form class="update-form">
            <label for="email">Student Email</label> 
            <input id="edit-assignment-email-input" type="email" name="email">
            
            <label for="project-title">Project Title</label>
            <select id="edit-assignment-project-input" name="project-title">
                <option value="0">NULL</option>
                {{#each dropdown}}
                <option value="{{this.project_id}}">{{this.title}}</option>
                {{/each}}
            </select>
            <div class="buttons">
                <input id="edit-assignment-accept" class="accept-btn" type="submit" value="Update">
                <input id="edit-assignment-cancel" class="cancel-btn" type="button" value="Cancel">
            </div>
        </form> 
    </div>

    {{> deletePopup}}

</main>