<main id="citations-main-box" class="page-box">
    <h2 class="page-title">Citations</h2>

    <div class="crud-box">
        <h3 class="crud-title">Browse Citations</h3>
        <table class="search-results" border="1" cellpadding="5">
            <thead>
                {{#each citations.[0]}}
                <th>{{@key}}</th>
                {{/each}}
            </thead>

            <tbody>
                {{#each citations}}
                <tr data-value={{this.citation_id}}>
                    <td>{{this.citation_id}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.source}}</td>
                    <td>{{this.author}}</td>
                    {{#if this.url}} <td>{{this.url}}</td> {{else}} <td>NULL</td> {{/if}}                
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <p>&nbsp;</p>

    <div class="crud-box">
        <h3 class="crud-title">Add Citation</h3>
        <form class="insert-form">
            <fieldset class="fields">
                <label for="citation-title">Title</label> 
                <input id="add-citation-title-input" type="text" name="citation-title">

                <label for="source">Source</label> 
                <input id="add-citation-source-input" type="text" name="source">

                <label for="author">Author</label> 
                <input id="add-citation-author-input" type="text" name="author">

                <label for="url">URL</label> 
                <input id="add-citation-url-input" type="url" name="url">
            </fieldset>
            <div class="buttons">
                <input id="add-citation-accept" class="accept-btn" type="submit" value="Submit">
                <input id="add-citation-cancel" class="cancel-btn" type="button" value="Cancel">
            </div>
        </form>
    </div>

    <p>&nbsp;</p>

    <div class="crud-box">
        <h3 class="crud-title">Browse Task Citations</h3>
        <table class="search-results" border="1" cellpadding="5">
            <thead>
                {{#each taskCitations.[0]}}
                <th>{{@key}}</th>
                {{/each}}
            </thead>

            <tbody>
                {{#each taskCitations}}
                <tr>
                    <td>{{this.task_id}}</td>
                    <td>{{this.task_title}}</td>
                    <td>{{this.student_name}}</td>
                    {{#if this.project_title}} <td>{{this.project_title}}</td> {{else}} <td>NULL</td> {{/if}}
                    <td>{{this.citation_id}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <p>&nbsp;</p>

    <div class="crud-box">
        <h3 class="crud-title">Add Citation to Task</h3>
        <form class="search-box">
            <fieldset class="fields">
                <label for="task">Task</label> 
                <select id="add-citation-task-task-input" name="task">
                    {{#each taskDropdown}}
                    <option value="{{this.task_id}}">{{this.task_title}} - {{this.email}} - {{#if this.project_title}} {{this.project_title}} {{else}} NULL {{/if}}</option>
                    {{/each}}
                </select>

                <label for="citation">Citation</label> 
                <select id="add-citation-task-citation-input" name="citation">
                    {{#each citationDropdown}}
                    <option value="{{this.citation_id}}">{{this.title}} - {{this.author}}</option>
                    {{/each}}
                </select>
            </fieldset>
            <div class="buttons">
                <input id="add-citation-task-accept" class="accept-btn" type="submit" value="Submit">
                <input id="add-citation-task-cancel" class="cancel-btn" type="button" value="Cancel">
            </div>
        </form>
    </div>

    <p>&nbsp;</p>

</main>