<div id="popup-backdrop" class="hidden"></div>
<main id="projects-main-box" class="page-box">
    <h2 class="page-title">Projects</h2>
    
    <div class="crud-box">
        <h3 class="crud-title">Browse Projects</h3>
        <table class="search-results" border="1" cellpadding="5">
            <thead>
                <tr>
                    {{!-- print each attribute's key of a row object as a header cell  --}}
                    {{#each data.[0]}}
                    <th>{{@key}}</th>
                    {{/each}}

                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                {{!-- print attributes for each row of data --}}
                {{#each data}}
                <tr>
                    <td>{{this.project_id}}</td>
                    <td>{{this.title}}</td> 
                    {{#if this.description}} <td>{{this.description}}</td> {{else}} <td>NULL</td> {{/if}}
                    {{#if this.start_date}} <td>{{this.start_date}}</td> {{else}} <td>NULL</td> {{/if}}
                    {{#if this.end_date}} <td>{{this.end_date}}</td> {{else}} <td>NULL</td> {{/if}}
                    <td>{{this.is_active}}</td>
                    <td>{{this.is_collaborative}}</td>
                    <td><div class="delete-btn"><center><i class="fa-solid fa-trash"></i></center></div></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <p>&nbsp;</p>

    <div class="crud-box">
        <h3 class="crud-title">Add Project</h3>
        <form class="insert-form">
            <fieldset class="fields">
                <label for="project-title">Title</label> 
                <input id="add-project-title-input" type="text" name="project-title">

                <label for="project-description">Description</label> 
                <input id="add-project-description-input" type="text" name="project-description">

                <label for="start-date">Start Date</label> 
                <input id="add-project-start-date-input" type="date" name="start-date">

                <label for="end-date">End Date</label> 
                <input id="add-project-end-date-input" type="date" name="end-date">

                <label for="is-active">Active?</label> 
                <input id="add-project-is-active-input" type="checkbox" name="is-active">

                <label for="is-collaborative">Collaborative?</label> 
                <input id="add-project-is-collaborative-input" type="checkbox" name="is-collaborative">
            </fieldset>
            <div class="buttons">
                <input id="add-project-accept" class="accept-btn" type="submit" value="Submit">
                <input id="add-project-cancel" class="cancel-btn" type="button" value="Cancel">
            </div>
        </form> 
    </div>

    {{> deletePopup}}

</main>