{{!-- Roles Page --}}
<main id="citations-main-box" class="page-box">
    <h2 class="page-title">Roles</h2>

    {{!-- Table displaying Role data --}}
    <div class="crud-box">
        <h3 class="crud-title">Browse Roles </h3>
        <table class="search-results" border="1" cellpadding="5">
            <thead>
                {{!-- print each attribute's key of a row object as a header cell  --}}
                {{#each roles.[0]}}
                <th>{{@key}}</th>
                {{/each}}
            </thead>

            <tbody>
                {{!-- print attributes for each row of data --}}
                {{#each roles}}
                <tr data-value={{this.role_id}}>
                    <td>{{this.role_id}}</td>
                    <td>{{this.title}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <p>&nbsp;</p>

    {{!-- Add Role Form --}}
    <div class="crud-box">
        <h3 class="crud-title">Add Role</h3>
        <form class="insert-form">
            <fieldset class="fields">
                <label for="role-title">Role Title</label> 
                <input id="add-role-title-input" type="text" name="role-title">
            </fieldset>
            <div class="buttons">
                <input id="add-role-accept" class="accept-btn" type="submit" value="Submit">
                <input id="add-role-cancel" class="cancel-btn" type="button" value="Cancel">
            </div>
        </form>
    </div>

    <p>&nbsp;</p>

    {{!-- Table displaying Assignment-Role data --}}
    <div class="crud-box">
        <h3 class="crud-title">Browse Assigned Roles </h3>
        <table class="search-results" border="1" cellpadding="5">
            <thead>
                {{!-- print each attribute's key of a row object as a header cell  --}}
                {{#each assignedRoles.[0]}}
                <th>{{@key}}</th>
                {{/each}}
            </thead>

            <tbody>
                {{!-- print attributes for each row of data --}}
                {{#each assignedRoles}}
                <tr>
                    <td>{{this.assignment_id}}</td>
                    <td>{{this.student_name}}</td>
                    <td>{{this.student_email}}</td>
                    {{#if this.project_title}} <td>{{this.project_title}}</td> {{else}} <td>NULL</td> {{/if}}
                    <td>{{this.role_title}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <p>&nbsp;</p>

    {{!-- Add Role Assignment Form --}}
    <div class="crud-box">
        <h3 class="crud-title">Add Role to Assignment</h3>
        <form class="search-box">
            <fieldset class="fields">
                {{!-- Assignment select dropdown for Role-assignments  --}}
                <label for="assignment">Assignment</label> 
                <select id="add-role-assignment-assignment-input" name="assignment">
                    {{#each assignmentDropdown}}
                    <option value="{{this.assignment_id}}">{{this.email}} - {{#if this.title}} {{this.title}} {{else}} NULL {{/if}}</option>
                    {{/each}}
                </select>

                {{!-- Role select dropdown for Role-assignments  --}}
                <label for="role-title">Role Title</label> 
                <select id="add-role-assignment-role-title-input" name="role-title">
                    {{#each roleDropdown}}
                    <option value="{{this.role_id}}">{{this.title}}</option>
                    {{/each}}
                </select>
            </fieldset>
            <div class="buttons">
                <input id="add-role-assignment-accept" class="accept-btn" type="submit" value="Submit">
                <input id="add-role-assignment-cancel" class="cancel-btn" type="button" value="Cancel">
            </div>
        </form>
    </div>

    <p>&nbsp;</p>

</main>