{{!-- Students Page --}}
<main id="students-main-box" class="page-box">
    <h2 class="page-title">Students</h2>
    
    {{!-- Table displaying Student data --}}
    <div class="crud-box">
        <h3 class="crud-title">Browse Students</h3>
        <table class="search-results" border="1" cellpadding="5">
            <thead>
                <tr>
                    {{!-- print each attribute's key of a row object as a header cell  --}}
                    {{#each data.[0]}}
                    <th>{{@key}}</th>
                    {{/each}}
                </tr>
            </thead>

            <tbody>
                {{!-- print attributes for each row of data --}}
                {{#each data}}
                <tr data-value={{this.student_id}}>
                    <td>{{this.student_id}}</td>
                    <td>{{this.name}}</td> 
                    <td>{{this.email}}</td>
                    {{#if this.phone}} <td>{{this.phone}}</td> {{else}} <td>NULL</td> {{/if}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <p>&nbsp;</p>

    {{!-- Add Student Form --}}
    <div class="crud-box">
        <h3 class="crud-title">Add Student</h3>
        <form class="insert-form">
            <fieldset class="fields">
                <label for="f-name">First Name</label> 
                <input id="add-student-fname-input" type="text" name="f-name">

                <label for="l-name">Last Name</label> 
                <input id="add-student-lname-input" type="text" name="l-name">

                <label for="email">Email</label> 
                <input id="add-student-email-input" type="email" name="email">

                <label for="phone">Phone Number</label> 
                <input id="add-student-phone-input" type="tel" name="phone">
            </fieldset>
            <div class="buttons">
                <input id="add-student-accept" class="accept-btn" type="submit" value="Submit">
                <input id="add-student-cancel" class="cancel-btn" type="button" value="Cancel">
            </div>
        </form> 
    </div>

</main>