<main id="tasks-main-box" class="page-box">
    <h2 class="page-title">Tasks</h2>
    
    {{!-- SEARCH FUNCTIONALITY FOR TASKS TABLE?? --}}
    {{!-- <div class="crud-box">
        <h3 class="crud-title">Browse Assigned Tasks</h3>
        <form class="search-box">
            <fieldset class="fields">
                <label for="email">Student Email</label> 
                <input id="search-task-email-input" type="email" name="email">
            </fieldset>
            <div class="buttons">
                <input id="search-task-accept" class="accept-btn" type="submit" value="Search">
                <input id="search-task-cancel" class="cancel-btn" type="button" value="Cancel">
            </div>
        </form> 
    </div> --}}

    {{!-- <p>&nbsp;</p> --}}

    <div class="crud-box">
        <h3 class="crud-title">Browse Assigned Tasks</h3>
        <table class="search-results" border="1" cellpadding="5">
            <thead>
                {{#each data.[0]}}
                <th>{{@key}}</th>
                {{/each}}
            </thead>

            <tbody>
                {{#each data}}
                <tr>
                    <td>{{this.task_id}}</td>
                    <td>{{this.student_name}}</td>
                    <td>{{this.student_email}}</td>
                    {{#if this.project_title}} <td>{{this.project_title}}</td> {{else}} <td>NULL</td> {{/if}}
                    <td>{{this.task_title}}</td>
                    {{#if this.description}} <td>{{this.description}}</td> {{else}} <td>NULL</td> {{/if}}
                    {{#if this.due_date}} <td>{{this.due_date}}</td> {{else}} <td>NULL</td> {{/if}}
                    <td>{{this.is_complete}}</td>
                    <td>{{this.has_citations}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <p>&nbsp;</p>

    <div class="crud-box">
        <h3 class="crud-title">Add Task to Assignment</h3>
        <form class="insert-form">
            <fieldset class="fields">
                <label for="assignment">Assignment</label> 
                <select id="add-task-assignment-id-input" name="assignment">
                    {{#each dropdown}}
                    <option value="{{this.assignment_id}}">{{this.email}} - {{#if this.title}} {{this.title}} {{else}} NULL {{/if}}</option>
                    {{/each}}
                </select>

                <label for="task-title">Task Title</label> 
                <input id="add-task-title-input" type="text" name="task-title">

                <label for="task-description">Description</label> 
                <input id="add-task-description-input" type="text" name="task-description">

                <label for="due-date">Due Date</label> 
                <input id="add-task-due-date-input" type="date" name="due-date">

                <label for="is-complete">Complete?</label> 
                <input id="add-task-is-complete-input" type="checkbox" name="is-complete">

                <label for="has-citations">Has Citations?</label> 
                <input id="add-task-has-citations-input" type="checkbox" name="has-citations">
            </fieldset>
            <div class="buttons">
                <input id="add-task-accept" class="accept-btn" type="submit" value="Submit">
                <input id="add-task-cancel" class="cancel-btn" type="button" value="Cancel">
            </div>
        </form> 
    </div>

</main>